div.button {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
}

div.button-default {
    padding: 3px;
    background-color: #acacac;
}